body {
    background-color: white;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1vw;
}

/*CLASSES*/

.m {
    margin: 0;
}

.categories {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    text-decoration: underline;
}

.typ, .format {
/*    background-color: yellow;*/
    width: 10%;
    height: auto;
}

.word {
    width: 5%;
    height: auto;
    margin-left: 8%;
}

.typ {
    margin-left: 3%;
    text-decoration: underline;
}

.format {
    margin-left: 23%;
    text-decoration: underline;
}

.artist {
    width: 18%;
    margin-left: 18%;
}

.underline {
    text-decoration: underline;
}

.text {
    width: 40%;
    height: auto;
    margin-bottom: 5%;
}

/*BUTTONS*/

.about, .references, .back {
    width: auto;
    height: 100%;
    text-decoration: none;
    color: black;
}

.back {
    margin-left: 3%;
}

.back:hover {
    text-decoration: underline;
}

.about {
    width: auto;
    height: auto;
    margin-left: 15.25%;
}

.references {
    margin-left: 15%;
}

.references:hover, .references:active {
    text-decoration: underline;
    color: black;
}

.references:visited {
    color: black;
}

/*HEADER*/

#header {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    font-family: helvetica;
    font-size: 3vw;
}

/*CONTENT*/

#content {
/*    background-color: purple;*/
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    margin-bottom: 10%;
}

.titles {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

/* conteúdo */

.project {
    display: inline-block;
    width: 25%;
    height: auto;
    text-decoration: none;
    color: black;
}

.project:hover {
    text-decoration: underline;
}

.project.hidden {
  display: none;
}

.hiddendiv, .hiddendiv2, .hiddendiv3, .hiddendiv4, .hiddendiv5, .hiddendiv6, .hiddendiv6 {
  height: 0;
/*  background-color: green;*/
  overflow: hidden;
  transition: height 0.5s;
  display: flex;
  flex-direction: row;
}

#showdiv1:target ~ div a[href="#showdiv1"],
#showdiv2:target ~ div a[href="#showdiv2"],
#showdiv3:target ~ div a[href="#showdiv3"],
#showdiv4:target ~ div a[href="#showdiv4"],
#showdiv5:target ~ div a[href="#showdiv5"],
#showdiv6:target ~ div a[href="#showdiv6"],
#showdiv7:target ~ div a[href="#showdiv7"]{
  display: none;
}

#showdiv1:target ~ div a[href="#hidediv1"],
#showdiv2:target ~ div a[href="#hidediv2"],
#showdiv3:target ~ div a[href="#hidediv3"],
#showdiv4:target ~ div a[href="#hidediv4"],
#showdiv5:target ~ div a[href="#hidediv5"],
#showdiv6:target ~ div a[href="#hidediv6"],
#showdiv7:target ~ div a[href="#hidediv7"]{
  display: inline-block;
}

#showdiv1:target ~ div .hiddendiv.nr1,
#showdiv2:target ~ div .hiddendiv.nr2,
#showdiv3:target ~ div .hiddendiv.nr3,
#showdiv4:target ~ div .hiddendiv.nr4,
#showdiv5:target ~ div .hiddendiv.nr5,
#showdiv6:target ~ div .hiddendiv.nr6,
#showdiv7:target ~ div .hiddendiv.nr7{
  height: auto;
}

/*COLUMNS*/

#column1, #column2 {
    height: auto;
    display: flex;
    flex-direction: column;
}

#row1, #row2 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

#row1 {
    margin-bottom: 15%;
}

#column1 {
    width: 17.5%;
    margin-left: 3%;
}

#column2 {
    width: 80%;
}

/*FOOTER*/

#footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    font-family: helvetica;
    font-size: 3vw;
}

#keywords1 {
    width: auto;
    height: 100%;
    margin-left: 20%;
}

#keywords2 {
    width: auto;
    height: 100%;
    margin-left: 14.75%;
}
